Notes/Log/Things to do:
CSS
tmr ask how to make images stay on the same line
The answer was with table & border=0. The alternate method is using CSS
maybe replace some of the br intensive sections with the <pre> tag
going to have to replace the tables with css :(
Changelog:
8/18-19: HTML for pages implemented
8/19: Initial CSS applied to all pages
8/23: Monthly Metas Page